<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Service Method</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="../css/sb-admin.css" rel="stylesheet">
  <script src="../vendor/angularjs/angular.min.js"></script>
  <script src="../js/Administration/serviceMethod.js"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- <script src="../vendor/datatables/jquery.dataTables.js"></script>
      <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
  	<script src="../js/sb-admin-datatables.min.js"></script>        
   -->

    <script src="../js/sb-admin.min.js"></script>

</head>
<body> 
<div class="card mb-3 bg-light"> 
<div class="card-body" ng-controller="serviceMethodCtrl" ng-app="serviceMethodApp"> 
<div class="card-body rounded bg-light" style="width:100%;"> 
<input type="button" class="btn btn-light float-right mr-2 bg-primary" ng-click="updatedata()" value="Save" id="test1"/>&nbsp&nbsp&nbsp&nbsp 
<input type="button" class="btn btn-light float-right mr-2 bg-primary" ng-click="insertrow()" value="Add ServiceType" id="test1"/> 
</div> 
<div class="table-responsive pt-3">
<table class="table table-hover table-sm "  id="dataTable" width="100%" cellspacing="0"> <thead><tr>
<th class="bg-secondary" style="border: 1px solid #dddddd"><i class="fa fa-trash" aria-hidden="true"/></th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('service_type_name')" >service type</th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('service_method')" >service method</th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('associated_program')" >associated program</th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('created_by')" >created by</th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('creation_date')" >creation date</th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('last_updated_by')" >last updated by</th>
<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('last_update_date')" >last update date</th>
<!-- <th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('id')" >id</th> -->
</tr> </thead>
<tbody><tr ng-repeat="row in datasetsfiltered | filter : test | orderBy:myOrderBy" id="{{$index}}" >
<td><button ng-click="changedelete(row)"/>Del</td> 
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.service_type_name" ng-change="changestatus(row)"/></td>
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.service_method" ng-change="changestatus(row)"/></td>
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.associated_program" ng-change="changestatus(row)"/></td>
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.created_by" ng-change="changestatus(row)"/></td>
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.creation_date" ng-change="changestatus(row)"/></td>
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.last_updated_by" ng-change="changestatus(row)"/></td>
<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.last_update_date" ng-change="changestatus(row)"/></td>
<!-- <td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.id" ng-change="changestatus(row)"/></td> -->
</tr></tbody></table> 
<input type="button" id="prevpagebtn" class="btn btn-light float-right mr-2 bg-primary" ng-click="getprevpage()" value="Prev"/> 
<input type="text" id="prevpagebtn" style="width:5%" class="btn btn-light float-right mr-2 bg-primary" value="{{currentPage}}/{{totPage}}"/>           
<input type="button" id="nextpagebtn" class="btn btn-light float-right mr-2 bg-primary" ng-click="getnextpage()" value="Next"/> 
</div> 
</div> 
</div> 
</body>
</html>