<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="../css/sb-admin.css" rel="stylesheet">
  <script src="../vendor/angularjs/angular.min.js"></script>
  <script src="../js/Administration/User.js"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../js/sb-admin.min.js"></script>
  <style type="text/css">
  .highlight {
         background-color:red;
    }
 </style>
</head>
<body>
      <div class="card mb-3 bg-light">
        <div class="card-body" ng-controller="userCtrl" ng-app="userApp">
        <div class="card-body rounded bg-light" style="width:100%;">
      	<input type="button" class="btn btn-light float-right mr-2 bg-primary" ng-click="updatedata()" value="Save" id="test1"/>&nbsp&nbsp&nbsp&nbsp
		<input type="button" class="btn btn-light float-right mr-2 bg-primary" ng-click="insertrow()" value="Add User" id="test1"/>
		</div>
          <div class="table-responsive pt-3">          
            <table class="table table-hover table-sm "  id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
					<th class="bg-secondary" style="border: 1px solid #dddddd"><i class="fa fa-trash" aria-hidden="true"/></th>
					<!-- <th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('username')" >#</th> -->
					<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('username')" >Username</th>
					<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('password')" >Password</th>
					<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('designation')" >Designation</th>
					<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('phone_number')" >Phone Number</th>
					<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('email_address')" >Email Address</th>
					<th class="bg-secondary" style="border: 1px solid #dddddd" ng-click="orderByMe('role')" >Role</th>
                </tr>
              </thead>              
              <tbody>
				<tr ng-repeat="row in datasetsfiltered | filter : test | orderBy:myOrderBy" id="{{$index}}" ng-class="{highlight: row.deletecb==true}" data-toggle="tooltip" data-placement="right" title="{{row.message}}" class="check-{{row.deletecb}}" >
				<td style="align-content: center;"><i class="fa fa-trash" ng-click="deleterow(row,$index)"/></td>
				<!-- <td><input type="text" disabled value="{{$index}}" size="2" class="form-control" style="border: 1px solid #dddddd" /></td> -->
				<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.username" ng-change="changestatus(row)" /></td>
				<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.password" ng-change="changestatus(row)"/></td>
				<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.designation" ng-change="changestatus(row)"/></td>
				<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.phone_number" ng-change="changestatus(row)"/></td>
				<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.email_address" ng-change="changestatus(row)"/></td>
				<td><input type="text" class="form-control" style="border: 1px solid #dddddd" ng-model="row.role" ng-change="changestatus(row)"/></td>	
				</tr>
              </tbody>
            </table>
            <div class="float-right">
       <input type="button" id="prevpagebtn" class="btn btn-light mr-2 bg-primary" ng-click="getprevpage()" value="Prev"/>
	   <input type="text" id="prevpagebtn" class="btn btn-light mr-2 bg-primary" size="10" value="{{currentPage}}/{{totPage}}"/>
	   <input type="button" id="nextpagebtn" class="btn btn-light mr-2 bg-primary" ng-click="getnextpage()" value="Next"/>
	   </div>
            </div>
            </div>
        </div> 
      	</body>
</html>
